.footer {
  min-height: 443px;
  padding: 40px 0 43px;
  background: #111115;
  color: #ffffff;

  &__items {
    position: relative;
    display: flex;
    height: 100%;
    color: #ffffff;
  }

  &__left {
    width: 50%;
  }
  .logo {
    display: inline-block;
    margin-bottom: 70px;
  }
  .logo.small {
    display: none;
  }

  &__center {
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
    font-weight: 300;
    font-size: 16px;
    line-height: 140%;
    .nav {
      &__list {
        display: flex;
        justify-content: center;
        align-items: center;
        list-style: none;
        padding: 0;
        margin: 0;
      }
      &__link {
        padding: 0 29.5px;
        text-decoration-line: none;
        color: #ffffff;
        transition: 0.5s;
        &:hover {
          color: #f9804b;
        }
        &:active {
          color: #f9804b;
        }
      }
    }
  }

  &__right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    width: 50%;
  }
  &__label {
    font-weight: 400;
    font-size: 24px;
    line-height: 120%;
  }
  &__input-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 13px;
    width: 367px;
  }
  &__input {
    width: 230px;
    height: 42px;
    padding: 0 10px;
    margin-right: 8px;
    background: transparent;
    color: #fff;
    border-radius: 2px;
    border: double 0.7px transparent;
    background-image: linear-gradient(#111115, #111115), $orang;
    background-origin: border-box;
    background-clip: padding-box, border-box;
    &::placeholder {
      font-weight: 400;
      font-size: 16px;
      line-height: 140%;
      color: #bdbdbd;
    }
    &:focus::placeholder {
      color: transparent;
      transition: 0.5s;
    }
    &:focus,
    &:focus + .btn_submit {
      padding: 10px;
      outline: none;
      color: #4b9200;
      border-color: #4b9200;
      transition: 0.5s;
    }
    &:invalid,
    &:invalid + .btn_submit {
      border-color: #d31414;
      color: #d31414;
    }
  }
  &__links {
    align-self: end;
    margin-top: 214px;
    text-align: left;
    font-weight: 100;
    font-size: 16px;
    line-height: 190%;
    transition: 0.5s;
  }
  &__link {
    color: #fff;
    &:hover,
    &:active {
      color: #4b9200;
      transition: 0.5s;
      border-bottom: 1px solid #4b9200;
    }
  }
}

.social {
  margin-top: 45px;
  &__link {
    display: flex;
    margin-top: 9px;
    color: #fff;
    font-weight: 300;
    line-height: 140%;
    transition: 0.5s;

    &:hover,
    &:active {
      color: #4b9200;
      transition: 0.5s;
    }
    &:hover .social__icon-wrapper,
    &:active .social__icon-wrapper {
      background: #4b9200;
      transition: 0.5s;
    }
  }
  &__icon-wrapper {
    width: 26px;
    height: 26px;
    background: rgba(196, 196, 196, 0.5);
    border-radius: 20px;
    margin-right: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
  }
  &__name {
    padding-top: 4px;
  }
}

@media (max-width: 1000px) {
  .footer {
    &__center {
      left: 49.8%;
      .nav {
        &__link {
          padding: 0 24px;
        }
      }
    }
    &__form {
      margin-top: 2px;
      margin-right: 33px;
    }
  }
}

@media (max-width: 900px) {
  .footer {
    &__center {
      left: 40%;
    }
  }
}

@media (max-width: 800px) {
  .footer {
    min-height: 365px;
    &__center {
      left: 0px;
      transform: none;
      margin-left: -19px;
      .nav {
        &__link {
          padding: 0 19px;
        }
      }
    }
    &__right {
      justify-content: end;
    }
    &__form {
      display: none;
    }
  }
  .social {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    &__link {
      margin-top: 0;
      margin-bottom: 20px;
    }
  }
}

@media (max-width: 640px) {
  .footer {
    padding: 12px 0 6px;
    min-height: 265px;
    .logo {
      margin-bottom: 34px;
    }
    &__links {
      margin-top: 203px;
    }
  }
  .social {
    &__icon-wrapper {
      margin-right: 0;
    }
    &__name {
      display: none;
    }
  }
}

@media (max-width: 600px) {
  .footer {
    min-height: 334px;
    padding: 20px 0 14px;
    &__left,
    &__right {
      height: 300px;
    }
    &__left {
      width: 100%;
    }
    &__right {
      width: 0%;
    }
    &__links {
      position: absolute;
      right: 0;
      bottom: 53px;
      font-size: 15px;
    }
  }
  .social {
    &__icon-wrapper {
      margin-right: 0;
    }
    &__name {
      display: none;
    }
  }
}

@media (max-width: 400px) {
  .footer {
    .logo {
      display: none;
      &__title {
        margin: 0;
      }
      &__bamboo {
        display: block;
        position: absolute;
        left: 158px;
      }
    }
    .logo.small {
      display: block;
      margin-bottom: 85px;
    }
    &__center {
      left: 50%;
      transform: translateX(-50%);
      margin: 0;
      .nav {
        &__link {
          padding: 0 15px;
        }
      }
    }
  }
  .social {
    display: flex;
    justify-content: space-between;
    width: 195px;
    top: 53px;
    right: auto;
    left: 50%;
    transform: translateX(-50%);
  }
}
