.header {
  position: relative;
  z-index: 5;
  height: 80px;
  padding: 14px;
  background: #111115;
  backdrop-filter: blur(2px);
  font-weight: 500;
  font-size: 16px;

  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #ffffff;
  }

  &__link {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    .nav {
      &__list {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 16px;
        margin-left: 21px;
        list-style: none;
        font-size: 16px;
      }
      &__link {
        padding: 0 58px 0 0;
        text-decoration-line: none;
        color: #ffffff;
        transition: 0.5s;
        font-weight: 400;

        &:hover,
        &:active {
          background-image: linear-gradient(
            113.96deg,
            #f9804b 1.49%,
            #fe9013 101.44%
          );
          -webkit-background-clip: text;
          background-clip: text;
          -webkit-text-fill-color: transparent;
        }
      }
      .small {
        display: none;
      }
      .active {
        background-image: linear-gradient(
          113.96deg,
          #f9804b 1.49%,
          #fe9013 101.44%
        );
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        // pointer-events: none;
        // cursor: default;
      }
    }
    .nav.small {
      display: none;
      position: fixed;
      z-index: 4;
      left: 0;
      top: 0;
      width: 100%;
      height: 329px;
      padding: 10px 0 40px 10px;
      background: #fff;
      transition: 0.5s;
      overflow: hidden;
      .nav__list {
        flex-direction: column;
        justify-content: start;
        align-items: start;
        gap: 18.8px;
        width: 105px;
        margin: 0;
        padding: 0;
      }
      .nav__link {
        text-align: left;
        font-weight: 500;
        font-size: 16px;
        color: #333b41;
      }
      .small {
        display: block;
      }
      .logo__burger {
        display: block;
      }
      .logo {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 13px;
        &__img {
          display: block;
        }
        &__title {
          position: absolute;
          color: #fe9013;
          font-weight: 400;
          font-size: 15.2116px;
          top: -1px;
        }
      }
    }
  }
}
.logo {
  &__bamboo {
    display: none;
  }
  &__burger {
    display: none;
  }
  &__title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 300;
    font-size: 19.0145px;
    line-height: 120%;
    text-align: center;
    margin: -53px 0 0 0;
    color: #fff;
    text-decoration: none;
  }
}
.designed {
  text-decoration-line: none;
  transition: 0.5s;
  color: #ffffff;
  background: #fff;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  &:hover,
  &:active,
  &:visited {
    background-image: linear-gradient(
      113.96deg,
      #f9804b 1.49%,
      #fe9013 101.44%
    );
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
.burger {
  display: none;
  padding: 4px 0;
  height: 18px;
  width: 18px;
  z-index: 5;
  transition: 0.7s;

  span {
    display: block;
    height: 2px;
    width: 100%;
    background-color: #fff;
    border-radius: 2px;
    transition: 0.5s;
    &:nth-child(2) {
      margin: 2px 0;
      transition: 0s;
    }
  }
}
.burger.active {
  span {
    background-color: #FE9013;
    margin-bottom: -2px;
    &:nth-child(1) {
      transform: translateY(3px) rotate(-45deg);
    }
    &:nth-child(2) {
      display: none;
    }
    &:nth-child(3) {
      transform: translateY(3px) rotate(45deg);
    }
  }
}


@media (max-width: 1000px) {
  .header {
    padding: 14px 0;
    &__link .nav__link {
      padding: 0 48px 0 0;
    }
  }
}
@media (max-width: 810px) {
  .header {
    &__link .nav {
      &__list {
        margin-left: 0px;
      }
      &__link {
        padding-right: 25px;
      }
    }
  }
}

@media (max-width: 768px) {
  .header {
    &__link .nav {
      &__list {
        margin-left: -12px;
      }
      &__link {
        padding-right: 20px;
      }
    }
  }
}

@media (max-width: 640px) {
  .header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 34px;
    padding: 0;
    .nav {
      display: none;
    }
    .nav.small {
      display: flex;
    }

    .logo {
      &__img {
        display: none;
      }
      &__bamboo {
        display: block;
        position: absolute;
        top: 17px;
        left: 23px;
      }
      &__title {
        display: block;
        margin: 3px 0 0 0;
        font-size: 12.2899px;
      }
    }
  }
  .designed {
    display: none;
  }
  .burger {
    display: block;
  }
}

@media (max-width: 440px) {
  .header {
    .logo__bamboo {
      left: 13px;
    }
  }
}

@media (max-width: 320px) {
  .header {
    .logo__bamboo {
      left: 13px;
    }
  }
  .burger {
    right: 10px;
    top: 12px;
  }
}
