.backstage {
  width: 100vw;
  padding: 140px 0 100px 0;
  background: url('../../../assets/images/flower.png') calc(50vw + 600px) 12px
    no-repeat;

  &__wrapper {
    display: flex;
    align-items: center;
  }
  &__img {
    min-width: 52.5%;
    height: 403px;
    background: url('../../../assets/images/bamboo-cap.jpg') center center/cover
      no-repeat;
  }
  &__descr {
    margin-left: 87px;
    font-weight: 400;
    color: #333b41;
  }
  &__title {
    margin: 0;
    font-weight: 400;
    font-size: 48px;
    line-height: 120%;
  }
  &__subtitle {
    margin-top: 55px;
    margin-bottom: 33px;
    font-size: 24px;
    line-height: 120%;
  }
  &__text {
    margin-top: 22px;
    font-size: 16px;
    line-height: 130%;
  }
  .subtitle {
    line-height: 138%;
  }
}

@media (max-width: 1200px) {
  .backstage {
    &__img {
      min-width: 48.5%;
      height: 408px;
    }
    &__descr {
      margin-left: 3.2%;
    }
  }
}

@media (max-width: 1000px) {
  .backstage {
    padding: 98px 0 67px 0;
    &__title {
      line-height: 122%;
    }
  }
}
@media (max-width: 999px) {
  .backstage {
    padding-top: 78px;
    &__img {
      min-width: 40%;
    }
    &__title {
      line-height: 120%;
    }
    &__subtitle {
      margin-top: 30px;
      margin-bottom: -3px;
    }
    &__text {
      margin-top: 22px;
    }
  }
}
@media (max-width: 768px) {
  .backstage {
    padding-top: 60px;
    background-position: calc(50vw + 189px) -5px;
    background-size: 32%;
    &__img {
      display: none;
    }
    &__descr {
      margin-left: 0;
      width: 78%;
    }
    &__title {
      margin-left: 5px;
    }
    &__subtitle {
      margin-left: 5px;
    }
  }
}
@media (max-width: 640px) {
  .backstage {
    background-size: 37%;
    &__descr {
      width: 82%;
    }
  }
}

@media (max-width: 639px) {
  .backstage {
    background-position: calc(50vw + 189px) 39px;
    background-size: 33%;

    padding-top: 120px;
  }
}
@media (max-width: 590px) {
  .backstage {
    &__text {
      width: 110%;
    }
  }

}
@media (max-width: 520px) {
  .backstage {
    background-position: calc(50vw + 159px) 19px;
    padding-top: 112px;
    &__title,
    &__subtitle {
      font-size: 24px;
      margin-left: 0;
    }
    &__subtitle {
      margin-top: 21px;
    }
    &__text {
      width: 105%;
      margin-top: 10px;
    }
  }
}
@media (max-width: 400px) {
  .backstage {
    background-position: calc(50vw + 135px) 19px;
  &__text {
    width: 115%;
  }
}
}

@media (max-width: 320px) {
  .backstage {
    background-position: calc(50vw + 128px) 39px;

    padding-top: 105px;
    padding-bottom: 30px;
    &__text {
      width: 300px;
    }
  }
}
