.btn {
  display: block;
  width: 298px;
  height: 54px;
  border: none;
  padding: 17px 17px 17px 22px;
  text-transform: uppercase;
  text-align: center;
  background: $orang;
  border-radius: 25px;
  color: #fff;
  cursor: pointer;
  transition: 0.5s;
  &:hover {
    background: #e47209;
  }
  &:active {
    background: #4b9200;
  }
  &:disabled {
    background: #767474;
  }
  &_watch-info {
    display: none;
  }
  &_watch {
    margin: 0 auto;
    position: relative;
    top: 135px;
    left: 90px;
  }
  &_pets {
    margin: 60px auto 0 auto;
    display: block;
    a {
      display: inline-block;
      color: #fff;
    }
  }
  &_pick {
    margin: 60px auto 60px auto;
    display: block;
  }
  &_testimonials {
    margin-top: 32px;
    border-radius: 5px;
    padding: 0;
  }
  &_footer {
    border-radius: 5px;
    padding: 0;
    a {
      display: inline-block;
      color: #fff;
      margin: 15px 50px;
    }
  }
  &_submit {
    width: 130px;
    height: 42px;
    background: #f1f3f2;
    border: 1px solid #333b41;
    border-radius: 5px;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #333b41;
    padding: 10px;
    text-transform: capitalize;
  }
}

@media (max-width: 1000px) {
  .btn {
    &_watch {
      top: 95px;
      left: 73px;
    }
    &_pets {
      margin-top: 80px;
    }
    &_pick {
      margin-top: 70px;
      margin-bottom: 20px;
    }
    &_testimonials {
      margin-top: 52px;
    }
  }
}

@media (max-width: 640px) {
  .btn {
    &_watch {
      top: 33px;
      left: -310px;
    }
    &_pets {
      margin-top: 60px;
    }
    &_pick {
      margin-top: 40px;
    }
    &_testimonials {
      margin: 0 auto;
      margin-top: 40px;
      width: 240px;
    }
  }
}

@media (max-width: 639px) {
  .btn {
    &_watch {
      display: none;
    }
    &_watch-info {
      display: block;
      position: relative;
      top: 400px;
      margin:0 auto;
    }
  }
}
@media (max-width: 520px) {
  .btn_watch-info {
    top: 340px;
  }
}
@media (max-width: 370px) {
  .btn {
    &_pick {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      bottom: 40px;
      margin-bottom: 0;
    }
  }
}

@media (max-width: 320px) {
  .btn {

    &_watch-info {
      top: 240px;
    }
    &_pets {
      margin-top: 0px;
    }
    &_testimonials {
      margin-top: 30px;
    }

  }
}
