.testimonials {
  height: 777px;
  background: url('../../../assets/images/leav.png') no-repeat 113.6% 136%;
  &__small-title {
    font-weight: 400;
    font-size: 36px;
    line-height: 130%;
    color: #333b41;
    text-align: center;
    margin: 143px 0 0 0;
  }
  &__wrapper {
    position: relative;
    transform: translateX(0px);
    width: calc(267px * 12 + 11 * 30px);
    display: flex;
    gap: 30px;
    // justify-content: center;
    overflow: hidden;
    transition: 1.5s linear;
  }
  .testimonial {
    margin-top: 45px;
    background: $pink;
    border-radius: 20px;
    width: 267px;
    height: 392px;
    padding: 2px;
    overflow: hidden;
    &__wrapper {
      display: flex;
      flex-direction: column;
      padding: 13px 12px 0 15px;
      height: 388px;
      background: #f1f3f2;
      border-radius: 18px;
      font-weight: 300;
      font-size: 15px;
      line-height: 120%;
      color: #000000;
    }
    &__title {
      display: flex;
    }
    &__img {
      width: 37px;
      height: 37px;
      border-radius: 50%;
    }
    &__user {
      margin-top: 1px;
      margin-left: 10px;
      width: 190px;
    }
    &__name {
      font-weight: 400;
      font-size: 16px;
    }
    &__local {
      color: #bdbdbd;
      span {
        margin: 0 2px;
        font-weight: 400;
      }
    }
    &__text {
      margin-top: 11px;
      font-weight: 300;
      font-size: 15px;
      color: #767474;
      overflow: hidden;
      text-overflow: clip;
      display: -webkit-box;
      -webkit-line-clamp: 17;
      -webkit-box-orient: vertical;
    }
  }

  &__input {
    display: block;
    margin: 19px auto 0 auto;
    overflow: hidden;
    width: 600px;
    appearance: none;
    border-radius: 5px;
    border: double 0.5px transparent;
    background-image: linear-gradient(white, white), $pink;
    background-origin: border-box;
    background-clip: padding-box, border-box;
    cursor: pointer;
    &::-webkit-slider-runnable-track {
      height: 8px;
      border-radius: 5px;
      appearance: none;
      margin-top: -1px;
      box-sizing: content-box;
      background: #f5f7f6;
    }

    &::-webkit-slider-thumb {
      width: 12.5%;
      height: 7px;
      appearance: none;
      margin-top: 1px;
      border-radius: 20px;
      cursor: pointer;
      background: $orang;
      &:hover {
        background: #e47209;
      }
      &:active {
        background: #4b9200;
      }
    }
  }
}
@media (max-width: 1280px) {
  .testimonials {
    .container {
      max-width: calc(267px * 3 + 60px);
      padding: 0;
    }
    &__wrapper {
      width: calc(267px * 12 + 11 * 30px);
    }
    .mila {
      display: none;
    }
  }
}

@media (max-width: 1000px) {
  .testimonials {
    height: 740px;
    background-position: 805px 500px;
    background-size: 32.5%;
    .container {
      max-width: calc(292px * 3 + 60px);
      padding: 0;
    }
    &__small-title {
      margin: 101px 0 0 0;
    }
    &__wrapper {
      width: calc(292px * 12 + 11 * 30px);
    }
    .testimonial {
      margin-top: 28px;
      width: 292px;
    }
    &__input {
      position: relative;
      width: 390px;
      left: -6px;
      &::-webkit-slider-thumb {
        width: 75px;
      }
    }
  }
}
@media (max-width: 999px) {
  .testimonials {
    background: url('../../../assets/images/leav.png') no-repeat 112% 117%;
    background-size: auto 213px;
    .container {
      max-width: calc(247px * 3 + 60px);
    }
    &__wrapper {
      width: calc(247px * 12 + 11 * 30px);
    }
    .testimonial {
      width: 247px;
    }
  }
}
@media (max-width: 960px) {
  .testimonials {
    height: 706px;
  }
}

@media (max-width: 850px) {
  .testimonials {
    height: 656px;
    .container {
      max-width: 850px;
      padding: 0 30px;
    }
    &__small-title {
      margin-top: 82px;
    }
    &__wrapper {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-top: 28px;
      height: 357px;
      gap: 0;
    }
    .testimonial {
      margin-top: 0;
      height: 109px;
      width: 100%;
      cursor: pointer;
      &__wrapper {
        height: 100%;
      }
      &__title {
        margin-left: -5px;
      }
      &__text {
        overflow: hidden;
        text-overflow: clip;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
      }
    }
    &__input {
      display: none;
    }
  }
}
@media (max-width: 640px) {
  .testimonials {
    .container {
      max-width: 640px;
      padding: 0 20px;
    }
    background: url('../../../assets/images/leav.png') no-repeat 122.5% 120%;
    background-size: auto 213px;
    height: 606px;
    &__small-title {
      margin-top: 62px;
    }
  }
}
@media (max-width: 639px) {
  .testimonials {
    background: url('../../../assets/images/leav_320.png') no-repeat 100% 106%;
    background-size: auto;
  }
}
@media (max-width: 480px) {
  .testimonials {
    height: 580px;
    &__small-title {
      margin-top: 38px;
      font-size: 28px;
    }
    &__wrapper {
      margin-top: 20px;
    }
    .testimonial {
      &__wrapper {
        padding: 9px 12px 0 15px;
      }
      &__user {
        margin-left: 7px;
      }
    }
  }
}

@media (max-width: 320px) {
  .testimonials {
    .container {
      max-width: 320px;
      padding: 0 10px;
    }
    height: 552px;
    &__small-title {
      margin-top: 28px;
      font-size: 24px;
    }
  }
}
