.watch {
  position: relative;
  .circle {
    position: absolute;
    width: 465px;
    height: 465px;
    left: 50.5%;
    top: 12px;
    background: $orang;
    border-radius: 50%;
    .title {
      position: relative;
      margin: 0;
      top: 75px;
      left: 90px;
      font-weight: 700;
      font-size: 106.5px;
      text-align: center;
      line-height: 75%;
      text-transform: uppercase;
      color: #fff;
      span {
        position: relative;
        color: #ffee2e;
        left: -8px;
      }
    }
  }
}

@media (max-width: 1280px) {
  .watch {
    .circle {
      width: 415px;
      height: 415px;
      left: 100%;
      transform: translateX(-142%);
    }
    .title {
      font-size: 90px;
    }
  }
}

@media (max-width: 1000px) {
  .watch {
    .circle {
      width: 367px;
      height: 367px;
      top: -12px;
      transform: translateX(-148%);
      .title {
        top: 54px;
        left: 74px;
        font-size: 85px;
      }
    }
  }
}

@media (max-width: 980px) {
  .watch .circle {
    transform: translateX(-128%);
  }
}

@media (max-width: 640px) {
  .watch {
    .circle {
      width: 237.6px;
      height: 237.6px;
      top: 43px;
      transform: translateX(-130%);
      .title {
        top: 39px;
        left: 46px;
        font-size: 54.2894px;
        span {
          left: -4px;
        }
      }
    }
  }
}


@media (max-width: 320px) {
  .watch {
    .circle {
      width: 119.09px;
height: 119.09px;
      top: 57px;
      transform: translateX(-132%);
      .title {
        top: 18px;
        left: 24px;
        font-size: 28px;
      }
    }
  }
}